extends ./layout.jade

block content
    .container
        h1 Post a Message
        form
            input#img.col-md-4.col-md-offset-1(placeholder='Enter url of image')
            input#name.col-md-4.col-md-offset-2(placeholder='Enter User Name')
            textarea#message.col-md-12(placeholder='Enter Message')
            button.post.col-md-offset-1.post Post This!

