extends ./layout.jade

block content
    .container
        h1 Post a Message
        form
            input.col-md-4.col-md-offset-1(placeholder='Enter url of image')
            input.col-md-4.col-md-offset-2(placeholder='Enter User Name')
            input#message.col-md-12(placeholder='Enter Message')
            button.col-md-offset-1#post Post This!
            p #{moment(Date.now()).format('MM/DD/YYYY')}
