extends ./layout.jade

block content
 .container
   h1 Welcome to not4Chan
   img.center-block(src='http://webpages.scu.edu/ftp/agoya/image/fileshareconnect.png')
   #splash
     .splash.col-md-11
       .splashtitle What is not4Chan
       .splashbody
         span Not4Chan is an imaged base bulletin board. Kind of like 4chan
         span  Except, it's not 4chan. The staff here at not4chan would like to
         span  thank you for visiting. We hope that you enjoy your stay. You might even
         span  like it better than 4chan. We know we do. While your here please feel
         span  free to browse the message boards and even post a message of your own.
     .splash.col-md-11
       .splashtitle Boards
       .splashbody
         span Please check out our message board. We are currently under construction
         span  and only have one. But it's really awesome.
         div
          a(href='/messages') Click here to check it out!!
